body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

}

.title p{
    font-size: 20px;
    font-weight: 600;
}
.menu ul{
    list-style: none;

}
.menu ul li{
    display: inline-block;
    margin-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.menu ul li a:hover{
    border-bottom: 2px solid pink;
    transition: o.5s;
    
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
   
}
.hero-content p{
    font-size: 35px;
    font-weight: bold;
    margin: 0;

}
.hero-content p span{
    color: #535d77ff;
}
.hero-content button{
background-color:#535d77ff ;
color: white;
border: none;
padding: 15px 60px;
cursor: pointer;
border-radius: 5px;
font-size: 30px;
}
.hero-content button:hover{
    background-color: plum;
    transition: 0.5s;
    
}
.hero-image{
background-color:#535d77ff ;
padding: 20px;
border-radius: 100px 100px 100px 100px;
border: none;
}
.hero-image image{
    width: 400px;
    height: auto;
    
}
.sosial-media{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.sosial-media ul{
    list-style: none;
    
}
.sosial-media ul li{
    display: inline-block;
    font-size: 20px;
    margin: 15px;
}
.sosial-media ul li a{
    text-decoration: none;
    color:black;
    font-size: 30px;
    
}
.sosial-media ul li a:hover{
    background-color: pink;
}
.About{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #535d77ff;
    height: 100vh;
    gap: 100px;
   
}
.about-skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}
.about-box{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.1);
    margin-left: 75px;
   
}
.about-box img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
.about-box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.About-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.About-content p{
    margin: 0;
    width: 600px;
}
.about-content-section{
    color: white;
    font-size:24px ;
    font-weight:300 ;
}
.about-content-tittle{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.about-content-desc{
    color: white;
    font-size: 18px;
    font-weight:300; 
}
.button{
    background-color:beige;
    height: 60px;
    width: 200px;
    text-align: center;
    margin-left: 50px;
    color: #535d77ff;
    border: none;
    padding: 10px px;
     cursor: pointer;
border-radius: 5px;
font-size: 30px;
}
.button:hover{
    background-color: rgb(0, 0, 0);
    transition: 1.3s;
}
.skill{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: #ffffff;
    height: 100vh;
}
.skill-ku{
     display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}
.skill-box{
     width: 200px;
    height: 200px;
    background-color: #535d77ff;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.skill-content-section {
    color: #535d77ff;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    
      
}
.skill-box img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
.skill-box:hover{
    transform: translateY(-10px);
    transition: 0.5s;

}
.skill-box p{
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}.skill-content{
    display: flex;
    flex-direction: c;
}
.floating-button{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:rgb(255, 255, 255);
    font-size: 24px;
    display: none;
}
.works{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #535d77ff;
    height: 100vh;
    gap: 100px;
   
}
.works-skills{
     display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}
.works-box{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.1);
    margin-left: 50px;      
   
}
.works-box:hover{
   transform: translateY(-10px);
    transition: 0.5s;
}
.works-box img{
    height: 150px;
    width: 150px;
    border-radius: 25px;
}
.works P{
    font-size: 20PX;
    color: white;
}
.sidebar-responsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px black;
    padding: 20px;
}
.sidebar-responsive ul{
    list-style: none;

}
.sidebar-responsive ul li{
    display: inline-block;
    margin-right: 20px;
}
.sidebar-responsive ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.sidebar-responsive ul li a:hover{
    border-bottom: 2px solid pink;
    transition: o.5s;
    
}