body{
    background-color: #f3f3f350;
}

.card_login{
    background-color: rgba(255, 255, 255, 0);
    width: 400px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.judul_login{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    

}input{ 
    font-size: 14px;
}

.ket_daftar{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 10px;
}.asep{
    padding: 5px;
    border: rgb(0, 17, 255);
    width: 100%;;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    color: rgb(117, 190, 255);
}



    


