* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 81, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    font-family: 'poppins',sans-serif;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu ul li a:hover{
    color: #1B3C53;
    transition: ease 0,5s;
}
.menu ul li button{
    background-color: #4cd137();
    border: -200px solid rgb(255, 60, 0);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    cursor: pointer;
    font-size: 14px;
}
.menu ul li button:hover{
    background-color: rgb(255, 102, 0);
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}
.title{
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.title img{
    width: 15%;

}

footer {
    background-color: #4cd137;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.main-container {
    display: flex;
    flex: 1;
    background-color: #fbc531;
    color: aliceblue;
}
.sidebar {
    background-color: #74b9ff;
    color: azure;
    flex: 1;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
.content {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15PX;
    padding: 15px;
}
.box {
    background-color: rgb(0, 195, 255);
    color: aliceblue;
    border: 1px solid #ccc;
    text-align: center;
    padding: 35px 0;
    font-size: 13px;
    border-radius: 8px;
}
.box:hover{
    background-color: rgb(25, 96, 158);
    transition: ease 10px;
}
@media(max-width: 988px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 763px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        order: 1;
    }

    .content {
        grid-template-columns: -1fr;
    }
}
